 ![Debugging code](project_icon.jpg)

In todayâ€™s fast-paced, data-driven world, companies rely heavily on accurate analyses of sales data to make informed decisions. However, the quality of the insights derived from such analyses depend significantly on the integrity of the underlying code.

Your colleague has written some code to automate sales data analyses. The code contains bugs and so does not give accurate analyses of the data. Unfortunately, your colleague is on a business trip and you have been asked to debug some functions in the code. The company plans to use your revised code to improve the accuracy of sales analytics.

Your task is to identify potential edge cases in the functions and the underlying data that might result in logic and runtime errors, such as missing values, incorrect data types, or incompatible values (e.g., negatives). Enhance the custom functions provided by implementing exceptions to catch data quality issues and edge cases.

Your company has provided you with a csv file called "sales_data_sample.csv" for the analyses. This data has 25 columns, but only two columns are analyzed, namely, `quantity_ordered` and `price_each`. A sample of the data is shown below.

In [81]:
# Sample code

import pandas as pd

sales_df = pd.read_csv("data/sales_data_sample.csv")
sales_df.head()

   order_number  quantity_ordered  ... contact_first_name  deal_size
0         10107                30  ...               Kwai      Small
1         10121                34  ...               Paul      Small
2         10134               -41  ...             Daniel     Medium
3         10145                45  ...              Julie     Medium
4         10159                49  ...              Julie     Medium

[5 rows x 25 columns]

In [82]:
def get_quantity_ordered_sum(sales_quantity_ordered):
    """Calculates the total sum on the 'quantity_ordered' column.

    Args:
        sales_quantity_ordered (pd.core.series.Series): The pandas Series for the 'quantity_ordered' column.

    Returns:
        total_quantity_ordered (int): The total sum of the 'quantity_ordered' column.
    """

    total_quantity_ordered = 0
    for quantity in sales_quantity_ordered:
        if not isinstance(quantity, (int,float)):
            pass
            #raise TypeError("Invalid type for quantity value")
        if quantity < 0:
            total_quantity_ordered += (quantity * -1)
            #raise ValueError("Value can't be lower than zero")
        else:                
            total_quantity_ordered += quantity
    return total_quantity_ordered

In [83]:
def get_price_each_average(sales_price_each, num_places=2):
    """Calculates the average on the 'price_each' column
       using pandas built in methods and rounds to the desired number of places.

    Args:
        sales_price_each (pd.core.series.Series): The pandas Series for the 'price_each' column.
        num_of_places (int): The number of decimal places to round.

    Returns:
        average_price_each (float): The average of the 'price_each' column.
    """
    try:
        total_of_price_each = sales_price_each.str.strip().replace('','0').astype(float,errors='raise').sum()
    except TypeError as e:
        print(e)
    len_of_price_each = len(sales_price_each)
    average_price_each = round(
        total_of_price_each / len_of_price_each, num_places
    )
    return average_price_each

In [84]:
total_quantity_ordered = get_quantity_ordered_sum(sales_df['quantity_ordered'])
print(f"total_quantity_ordered: {total_quantity_ordered}")

total_quantity_ordered: 99067

In [85]:
average_price_each = get_price_each_average(sales_df['price_each'])
print(f"average_price_each: {average_price_each}")

average_price_each: 83.63